@model IEnumerable<school.Classes.reportOpePdf>


  <table id="tblRelatorio" align="center" cellpadding="2" cellspacing="2">
            <thead>
          
            </thead>
            <tbody>
                 @foreach (var item in Model)
                 {
							<tr>
								<th colspan="8"></th>
							</tr>
							<tr>
                                <th align="center">Processo</th>
								<th align="center">Descrição </th>
								<th align="center">Quant.</th>
								<th align="center">Status</th>
								<th align="center">Data</th>
								<th align="center">Prev. Emb.</th>
								<th align="center">Guia Transp.</th>
								<th align="center">Mov. Materiais</th>
							  </tr>
			
                    <tr>
                        <td> @item.numero_processo</td>
                        <td>@item.codigo_smk</td>
						<td align="center">@item.quantidade</td>
						<td>@item.ps_descricao</td>
						<td>@item.data</td>
						<td>@item.previsao_embarque</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
                  	</tr>
                 }
            </tbody>
        </table>